# Compiled Object files
*.slo
*.lo
*.o
*.pdb
*.exp
*.idb
*.ipdb
*.iobj
*.ilk
*.obj
*.log
*.tlog
*.cki
*.exe.config

# Compiled executable files
*.exe

# Compiled Dynamic libraries
#*.so
#*.dylib
*.dll

# Compiled Static libraries
#*.lai
#*.la
#*.a

# Intermediate directorys
Static/
static/
Debug/
debug/
!Windows/Src/Common/Debug/
!Windows/Src/Common/debug/
Linux/project/android-ndk/libs/
Linux/demo/Release/android-ndk/

Obj/
obj/
tlog/
log/
readme/
netstandard2.0/

# IDE Internal Files
*.xml
*.layout
*.sdf
*.opensdf
*.VC.db
*.opendb
*.aps
*.swp
*.suo
.vs/
ipch/
VSMacros80/

# symbolic link files
Linux/lib/**/*.so.*

# binary output files
Linux/demo/Release/
Linux/lib/
Windows/Demo/Release/
Windows/Lib/
Windows/Bin/
Windows/Other Languages/C#/HPSocketCS/bin/
