# Compiled Object files
*.slo
*.lo
*.o

# Compiled Dynamic libraries
*.so
*.dylib

# Compiled Static libraries
*.lai
*.la
*.a
/HP-Socket/Project/HPSocket.VC.VC.opendb
/HP-Socket/Project/HPSocket.VC.db
/HP-Socket/Bin/HPSocket4C/x86/obj/noHTTP/HPSocketDLL4C.tlog
